a
{
 color: black;
 text-decoration: none;
}

/* Ajoutez du style si nécessaire */
progress 
{
    width: 200px;
}

hr
{
    color: grey;
    height: 5px;
    background-color: gray;
    border-radius: 20px;
}