a
{
 color: black;
 text-decoration: none;
}

/* Ajoutez du style si nécessaire */
progress 
{
    width: 200px;
}

hr
{
    color: grey;
    height: 5px;
    background-color: gray;
    border-radius: 20px;
}


/* -------- Menu déroulant -------- */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* -------------------------------- */